<button id="src1btn" onclick="toggleDiv1()"><H1>About Tholonia</H1></button>

<style>
#src1btn {
    color:white;
    background: black;
    /* border-radius:0px; */
    /* padding:0px; */
    display:inline-block;
    padding-bottom:20px;
    width:100%;
}

#src1div {
    display:none;
    border:0px solid blue;
    width:100%;
    /* height:100%; */
    margin:10px;
    overflow: auto;
}

</style>

<script>
function toggleDiv1() {
  var div = document.getElementById("src1div");
  if (div.style.display === "none") {
    div.style.display = "block";
  } else {
    div.style.display = "none";
  }
}
</script>

<div id="src1div" style="display: none;" >

    
  <p>
    The Tholonic model aims to integrate consciousness and technology by expanding our understanding of these concepts while remaining firmly on the path of the scientific method.
  </p>
  <p>
    There have been brilliant thinkers and ideas since Humanity started thinking for itself. While many ideas have evolved and morphed over time, many have stood the test of time, adapting as cultures and perspectives have changed. As no culture or perspective is free of bias, including modern Western culture, it's myopic to disregard all the thinking of our ancestors that does not conform to our current views. It's in our best interest to consider the views and perspectives of our ancestors to be as valid and true for them as ours are to us and to incorporate their views in our efforts to understand the nature of existence. Contrary to many mainstream beliefs today, our understanding does not have a monopoly on truth. 
  </p>

  <p>
    Each item in the list of claims below is fundamental to the tholonic model, and each is a valid hypothesis in that they are based on chain-of-thought reasoning, and none of them has been disproven. Still, of all the claims, there is only one provable fact, and it's the fact that we don't know what energy is. Without energy, there is no existence, yet we don't know where it comes from or why it exists. The Tholonic model attempts to answer those questions. The hypotheses put forth to that end are undoubtedly underdeveloped, and that's why the Tholonic model exists.
  </p>

  <p>
    The traditional boundaries of consciousness and technology are getting fuzzier by the day, and we are entering a new paradigm that will eventually erase those lines completely. In this new paradigm, as consciousness evolves out of the complexity of technology, consciousness, in all its forms and instances, will be the technology, and technology, as we define that concept today, will be seen as the misplaced efforts of a dying paradigm that could not make sense of the new reality it found itself in.
  </p>

 
  <h2 id='fundamentals'>Fundamentals</h2>

<style>
  .td_defs_0, .td_facts_0,  .td_claims_0,.td_defs_1, .td_facts_1, .td_claims_1 {
    text-align: top !important;
    word-wrap: break-word !important; /* Ensures long words wrap */
    overflow-wrap: break-word !important; /* Ensures long words wrap (alternative) */
    white-space: normal !important; /* Allows text to wrap */
    border: 1px solid black !important; /* Optional: To add a border to the cells */
    padding: 8px !important; /* Optional: To add padding to the cells */
    width: 200px !important; /* Define a width to control wrapping */
  }  
  .td_defs_0, .td_facts_0, .td_claims_0 {
    font-size: 12pt !important;
  }  
  .td_defs_1, .td_facts_1, .td_claims_1 {
    font-size: 8pt !important;
  }  

  .td_defs_0 {color:rgb(247, 241, 158) !important;}
  .td_facts_0 {color:rgb(174, 249, 196) !important;}
  .td_claims_0 {color:rgb(184, 155, 253) !important;}

  .about_table {
    width:100% !Important;
    table-layout: fixed !Important;
    margin-left: auto !Important;
    margin-right: auto !Important;
    /* width: 310px; */
    border-collapse: collapse;        
  }  

  .table-wrapper {
    table-layout: fixed !Important;
    margin-left: auto !Important;
    margin-right: auto !Important;
    width: 100%px !Important;
    overflow-x: auto !Important;
    margin-bottom: 1.5rem !Important;
  }        
</style>

<!-- insert table here -->


<h1>Definitions</h1>
<table class="about_table">
  <tr>
    <th></th>
    <th>Supporting Models, Theories, or Philosophies</th>
  </tr>
  <tr>
    <td class="td_defs_0"><b>AWARENESS</b> is defined as an archetype.</td>
    <td class="td_defs_1">Jungian Psychology, Integral Theory, Panpsychism, Advaita Vedanta, Phenomenology, Process Philosophy, Buddhist Philosophy</td>
  </tr>
  <tr>
    <td class="td_defs_0"><b>CONSCIOUSNESS</b> is a contextual instance of <b>AWARENESS</b></td>
    <td class="td_defs_1">Taoism, Advaita Vedanta, Buddhist Philosophy, Phenomenology, Integral Theory, Process Philosophy, Jungian Psychology</td>
  </tr>
  <tr>
    <td class="td_defs_0">CONTEXT is defined as the scope and limits imposed by instances.</td>
    <td class="td_defs_1">Systems Theory, Contextualism in Philosophy, Quantum Mechanics (Contextuality), Hermeneutics, Constructivism, Structuralism, Cybernetics, Ecological Systems Theory</td>
  </tr>
  <tr>
    <td class="td_defs_0">NEUROIDS are defined as any neurologically enhanced device, such as AI.</td>
    <td class="td_defs_1">This would also include: Smartphones, Smart Home Devices, Wearables, Self-Driving Cars, Diagnostic Tools, Prosthetics, Robots, Voice Assistants, Image and Video Processing, Neuromorphic Computing, Language Translation, Fraud Detection, Gaming</td>
  </tr>
</table>

<h1>Facts</h1>
<table class="about_table">
  <tr>
    <th></th>
    <th>Supporting Models, Theories, or Philosophies</th>
  </tr>
  <tr>
    <td class="td_facts_0">We have no idea what energy is, only how it interacts with matter.</td>
    <td class="td_facts_1">Richard Feynman's Perspective, Quantum Field Theory, General Relativity, Thermodynamics, Philosophy of Science, String Theory</td>
  </tr>
</table>

<h1>Claims</h1>
<table class="about_table">
  <tr>
    <th></th>
    <th>Supporting Models, Theories, or Philosophies</th>
  </tr>
  <tr>
    <td class="td_claims_0">The source of existence is a 0-dimensional point in a void of nothingness.</td>
    <td class="td_claims_1">Ancient Egyptian Mythology, Hinduism, Greek Philosophy - Pythagoreanism, Kabbalah, Taoism, Buddhism, Sumerian Mythology</td>
  </tr>
  <tr>
    <td class="td_claims_0">A point exists only through the intention to conceive it, requiring awareness. This 0-dimensional point was created by Awareness and Intention and can create child points.</td>
    <td class="td_claims_1">Hinduism, Buddhism, Taoism, Kabbalah, Panpsychism, Sufism, Theosophy, Gnosticism, Native American Spirituality, Modern Spirituality, and New Age Thought</td>
  </tr>
  <tr>
    <td class="td_claims_0">The primal duality is somethingness and nothingness, representing the maximum imbalance between two states.</td>
    <td class="td_claims_1">Taoism, Hinduism, Kabbalah, Gnosticism, Buddhism, Sufism, Christianity</td>
  </tr>
  <tr>
    <td class="td_claims_0">Energy moves to balance two states of imbalance, meaning energy is the intention of duality to seek singularity.</td>
    <td class="td_claims_1">Second Law of Thermodynamics, Principle of Minimum Energy, Diffusion and Osmosis, Electric Potential, Heat Transfer</td>
  </tr>
  <tr>
    <td class="td_claims_0">The movement of energy creates self-organization.</td>
    <td class="td_claims_1">Nonlinear Dynamics and Chaos Theory, Synergetics, Self-Organized Criticality, Autopoiesis, Dissipative Structures, Fractals and Scaling Laws, Complex Adaptive Systems, Network Theory, Entropy, and Information Theory</td>
  </tr>
  <tr>
    <td class="td_claims_0">The 0-dimensional point is a singularity, and subsequent points define duality.</td>
    <td class="td_claims_1">Big Bang Theory, Cosmological Singularity, Hawking-Penrose Singularity Theorems, String Theory, Quantum Gravity Theories, Philosophical and Metaphysical Concepts, Inflation Theory</td>
  </tr>
  <tr>
    <td class="td_claims_0">By definition, consciousness is a self-reflection of the singularity of Awareness and Intention, making awareness and intention intrinsic properties of existence.</td>
    <td class="td_claims_1">Taoism, Advaita Vedanta (Hinduism), Buddhism, Neoplatonism, Spinozism, The Law of One (Ra Material), Integral Theory (Ken Wilber), Panpsychism, Integrated Information Theory (IIT), Quantum Consciousness (Penrose-Hameroff)</td>
  </tr>
  <tr>
    <td class="td_claims_0">Consciousness emerges proportionally to complexity.</td>
    <td class="td_claims_1">Quantum Consciousness (Penrose-Hameroff), Panpsychism, Global Workspace Theory, Evolutionary Biology, Neural Darwinism, Fractal Brain Theory, Hierarchy Theory</td>
  </tr>
  <tr>
    <td class="td_claims_0">Interaction between two 0-dimensional points creates 1 dimension and results in intelligence, with the simplest form being a line.</td>
    <td class="td_claims_1">Complex Adaptive Systems, Swarm Intelligence, Stigmergy, Distributed Artificial Intelligence (DAI), Social Intelligence Hypothesis, Embodied Cognition, Interactionism in Psychology, Cybernetics, Game Theory. Also consistent with Occam's Razor, Single-Factor Theories of Intelligence, Reductionist Views in the Philosophy of Mind, Minimalist Models in Artificial Intelligence</td>
  </tr>
  <tr>
    <td class="td_claims_0">Interaction between three 0-dimensional points creates 2 dimensions and results in archetypes, with the simplest form being a triangle.</td>
    <td class="td_claims_1">Jungian Archetypes, Platonic Forms, Symbolic Interactionism</td>
  </tr>
  <tr>
    <td class="td_claims_0">Interaction between four 0-dimensional points creates 3 dimensions and results in form, with the simplest form being a tetrahedron.</td>
    <td class="td_claims_1">Tetrahedral Geometry, Tetrahedral Symmetry in Chemistry and Physics, Basis of Spatial Dimensions, Tetrahedral Principle in Metaphysics and Philosophy</td>
  </tr>
  <tr>
    <td class="td_claims_0">A self-similar tetrahedral matrix is the most efficient structure and self-organizes into a holarchy (a concept is used to understand the nested and interconnected nature of systems in various fields such as biology, ecology, and organizational theory.)</td>
    <td class="td_claims_1">Physics, Chemistry, Structural Biology</td>
  </tr>
  <tr>
    <td class="td_claims_0">The spectrum of chaos is defined by the chaos of nothingness and the chaos of totality. In between these two extremes, there are varying degrees of order and complexity. The chaos of nothingness to order is called low-entropy chaos and the chaos from order to disintegration is called high-entropy chaos. Therefore, order is the temporary and transitional state of chaos.</td>
    <td class="td_claims_1">Thermodynamics and Entropy, Statistical Mechanics, Chaos Theory, Complex Systems Theory, Information Theory, Prigogine’s Theory of Dissipative Structures, Cosmology</td>
  </tr>
  <tr>
    <td class="td_claims_0">There are three classes of energy instantiation for the three contexts of 1) matter, 2) transitional between matter and wave, and 3) wave, and these are 1) energy as particle (matter), 2) energy as wave-particle duality (including massless energy), energy as conceptual wave, which we refer to as conceptual energy or tholonic energy.</td>
    <td class="td_claims_1">Aspects of Quantum Field Theory's virtual particles, de Broglie-Bohm pilot-waves, potential energy fields of Classical and Quantum Mechanics, Zero-Point Energy, Holographic Principle</td>
  </tr>
  <tr>
    <td class="td_claims_0">All holons (with the possible exception of the first holon) are considered partons to a parent holon.</td>
    <td class="td_claims_1">Theory of Holarchies</td

>
  </tr>
  <tr>
    <td class="td_claims_0">The effect of existence is the creation of ever-increasing complex and order instances of awareness.</td>
    <td class="td_claims_1">Evolutionary Biology, Cosmology and the Anthropic Principle, Teilhard de Chardin's Omega Point, Complexity Theory and Systems Thinking, Spiritual and Mystical Traditions, Cognitive Science and the Theory of Mind, Panpsychism, Information Theory</td>
  </tr>
  <tr>
    <td class="td_claims_0">Consciousness is an emergent property of complexity.</td>
    <td class="td_claims_1">Emergence Theory, Neuroscience, Integrated Information Theory (IIT), Complexity Theory, Systems Theory, Philosophy of Mind, Panpsychism and Emergent Panpsychism, Artificial Intelligence and Cognitive Science, Self-Organizing Systems, Evolutionary Psychology</td>
  </tr>
  <tr>
    <td class="td_claims_0">Consciousness can exist independently of the complexity it emerged from.</td>
    <td class="td_claims_1">Dualism, Idealism, Near-Death Experiences (NDEs) and Out-of-Body Experiences (OBEs), Parapsychology, Eastern Philosophies and Religions, Mysticism and Spiritual Traditions, Quantum Consciousness, Transhumanism and Mind Uploading, Panpsychism, Afterlife and Spiritual Entities</td>
  </tr>
  <tr>
    <td class="td_claims_0">Coherence increases with complexity.</td>
    <td class="td_claims_1">Systems Theory, Systems Theory, Synergetics, Evolutionary Biology, Neuroscience, Integrated Information Theory (IIT), Quantum Coherence, Holistic Philosophies, Cybernetics, Cognitive Science</td>
  </tr>
</table>


<!-- to here -->

  

  <p>(This list is nowhere near complete and it constantly being updated...)</p>

  <a href="https://discord.gg/aY4d7uzhJe" target="_blank">Discord</a> | 
  <a href="https://www.youtube.com/@tholonia" target="_blank">YouTube</a> | 
  <a href="https://x.com/tholonia" target="_blank">X</a>

  </div>
