<button id="src1btn" onclick="toggleDiv1()"><H1>About Tholonia</H1></button>

<style>
#src1btn {
    color:white;
    background: black;
    /* border-radius:0px; */
    /* padding:0px; */
    display:inline-block;
    padding-bottom:20px;
    width:100%;
}

#src1div {
    display:none;
    border:0px solid blue;
    width:100%;
    height:100%;
    margin:10px
}

</style>

<script>
function toggleDiv1() {
  var div = document.getElementById("src1div");
  if (div.style.display === "none") {
    div.style.display = "block";
  } else {
    div.style.display = "none";
  }
}
</script>

<div id="src1div" style="display: none;" >
    <p>
        <h2>The tholonic model aims to integrate consciousness and technology by reimagining the nature of consciousness and physics to understand their interactions. It is based on sound concepts that adhere to the scientific method and is not transhumanist, spiritual, or esoteric. The model is currently in its early stages, with ongoing exploration and questions rather than definitive answers.</h2>
    </p>
        <h3 id='some-basic-concepts-in-the-tholonic-model-are'>Some basic concepts in the Tholonic model are:</h3>
        <ul>
        <li>All existence is a contextual instance of energy.</li>
        <li>Energy arises from imbalance and moves to create balance.</li>
        <li>Awareness and intention are the singular properties from which all existence emerged and always exist together.</li>
        <li>Energy results from awareness and intention forming a self-replicating duality.</li>
        <li>Energy is an instance of awareness and intention.</li>
        <li>Consciousness is a contextual instance of awareness emerging from complexity due to the movement of energy.</li>
        <li>Ideas, theories, concepts, and archetypes are coherent instances of this third state of energy.</li>
        <li>The Tholonic framework is described as a self-similar tetrahedral holarchy, with water being the most efficient instance in material reality.</li>
        <li>Beyond particle-only (matter) and particle-wave duality (subatomic particles), there is a third state of energy that is wave-only with no material instance. This wave duality state acts as a transforming interface between wave and particle forms.</li>
        <li>Order is a transitional form of chaos that exists between low-entropy chaos and high-entropy chaos.</li>
        <li>Multiple alternate realities contain multiple forms of intelligence.</li>    
        </ul>
</div>
