<button id="src1btn" onclick="toggleDiv1()"><H1>About Tholonia</H1></button>

<style>
#src1btn {
    color:white;
    background: black;
    /* border-radius:0px; */
    /* padding:0px; */
    display:inline-block;
    padding-bottom:20px;
    width:100%;
}

#src1div {
    display:none;
    border:0px solid blue;
    width:100%;
    /* height:100%; */
    margin:10px;
    overflow: auto;
}

</style>

<script>
function toggleDiv1() {
  var div = document.getElementById("src1div");
  if (div.style.display === "none") {
    div.style.display = "block";
  } else {
    div.style.display = "none";
  }
}
</script>

<div id="src1div" style="display: none;" >

    
  <p>The Tholonic model aims to integrate consciousness and technology by expanding our understanding of these concepts. This approach facilitates new perspectives compatible with the scientific method: 1) Observe, 2) Question, 3) Hypothesize, 4) Test, and 5) Measure.</p>
<p>The Tholonic model integrates both new and ancient theories of reality, with some minor adjustment here and there to bring them into a coherent alignment.</p>
<ul>
<li><h2 id='fundamentals'>Fundamentals</h2>
<ul>
<li><h3 id='the-source-of-existence-is-a-0-dimensional-point-in-a-void-of-nothingness'>The source of existence is a 0-dimensional point in a void of nothingness.</h3>
<ul>
<li>Consistent with Ancient Egyptian Mythology, Hinduism, Greek Philosophy - Pythagoreanism, Kabbalah, Taoism, Buddhism, Sumerian Mythology.</li>

</ul>
</li>
<li><h3 id='a-point-exists-only-through-the-intention-to-conceive-it-requiring-awareness-this-0-dimensional-point-was-created-by-awareness-and-intention-and-can-create-child-points'>A point exists only through the intention to conceive it, requiring awareness. This 0-dimensional point was created by Awareness and Intention and can create child points.</h3>
<ul>
<li>Consistent with Hinduism, Buddhism, Taoism, Kabbalah, Panpsychism, Sufism, Theosophy, Gnosticism, Native American Spirituality, Modern Spirituality, and New Age Thought.</li>

</ul>
</li>
<li><h3 id='the-primal-duality-is-somethingness-and-nothingness-representing-the-maximum-imbalance-between-two-states'>The primal duality is somethingness and nothingness, representing the maximum imbalance between two states.</h3>
<ul>
<li>Consistent with Taoism, Hinduism, Kabbalah, Gnosticism, Buddhism, Sufism, Christianity.</li>

</ul>
</li>
<li><h3 id='energy-moves-to-balance-two-states-of-imbalance-meaning-energy-is-the-intention-of-duality-to-seek-singularity'>Energy moves to balance two states of imbalance, meaning energy is the intention of duality to seek singularity.</h3>
<ul>
<li>Consistent with the Second Law of Thermodynamics, Principle of Minimum Energy, Diffusion and Osmosis, Electric Potential, Heat Transfer.</li>

</ul>
</li>
<li><h3 id='the-movement-of-energy-creates-self-organization'>The movement of energy creates self-organization.</h3>
<ul>
<li>Consistent with Nonlinear Dynamics and Chaos Theory, Synergetics, Self-Organized Criticality, Autopoiesis, Dissipative Structures, Fractals and Scaling Laws, Complex Adaptive Systems, Network Theory, Entropy, and Information Theory.</li>

</ul>
</li>
<li><h3 id='the-0-dimensional-point-is-a-singularity-and-subsequent-points-define-duality'>The 0-dimensional point is a singularity, and subsequent points define duality.</h3>
<ul>
<li>Consistent with the Big Bang Theory, Cosmological Singularity, Hawking-Penrose Singularity Theorems, String Theory, Quantum Gravity Theories, Philosophical and Metaphysical Concepts, Inflation Theory.</li>

</ul>
</li>
<li><h3 id='by-definition-consciousness-is-a-self-reflection-of-the-singularity-of-awareness-and-intention-making-awareness-and-intention-intrinsic-properties-of-existence'>By definition, consciousness is a self-reflection of the singularity of Awareness and Intention, making awareness and intention intrinsic properties of existence.</h3>
<ul>
<li>Consistent with Taoism, Advaita Vedanta (Hinduism), Buddhism, Neoplatonism, Spinozism, The Law of One (Ra Material), Integral Theory (Ken Wilber), Panpsychism, Integrated Information Theory (IIT), Quantum Consciousness (Penrose-Hameroff).</li>

</ul>
</li>
<li><h3 id='consciousness-emerges-proportionally-to-complexity'>Consciousness emerges proportionally to complexity.</h3>
<ul>
<li>Consistent with Quantum Consciousness (Penrose-Hameroff), Panpsychism, Global Workspace Theory, Evolutionary Biology, Neural Darwinism, Fractal Brain Theory, Hierarchy Theory.</li>

</ul>
</li>
<li><h3 id='interaction-between-two-0-dimensional-points-creates-1-dimension-and-results-in-intelligence-with-the-simplest-form-being-a-line'>Interaction between two 0-dimensional points creates 1 dimension and results in intelligence, with the simplest form being a line.</h3>
<ul>
<li>Consistent with Complex Adaptive Systems, Swarm Intelligence, Stigmergy, Distributed Artificial Intelligence (DAI), Social Intelligence Hypothesis, Embodied Cognition, Interactionism in Psychology, Cybernetics, Game Theory. Also consistent with Occam&#39;s Razor, Single-Factor Theories of Intelligence, Reductionist Views in the Philosophy of Mind, Minimalist Models in Artificial Intelligence.</li>

</ul>
</li>
<li><h3 id='interaction-between-three-0-dimensional-points-creates-2-dimensions-and-results-in-archetypes-with-the-simplest-form-being-a-triangle'>Interaction between three 0-dimensional points creates 2 dimensions and results in archetypes, with the simplest form being a triangle.</h3>
<ul>
<li>Consistent with Jungian Archetypes, Platonic Forms, Symbolic Interactionism.</li>

</ul>
</li>
<li><h3 id='interaction-between-four-0-dimensional-points-creates-3-dimensions-and-results-in-form-with-the-simplest-form-being-a-tetrahedron'>Interaction between four 0-dimensional points creates 3 dimensions and results in form, with the simplest form being a tetrahedron.</h3>
<ul>
<li>Consistent with Tetrahedral Geometry, Tetrahedral Symmetry in Chemistry and Physics, Basis of Spatial Dimensions, Tetrahedral Principle in Metaphysics and Philosophy.</li>

</ul>
</li>
<li><h3 id='a-self-similar-tetrahedral-matrix-is-the-most-efficient-structure-and-self-organizes-into-a-holarchy-a-concept-is-used-to-understand-the-nested-and-interconnected-nature-of-systems-in-various-fields-such-as-biology-ecology-and-organizational-theory'>A self-similar tetrahedral matrix is the most efficient structure and self-organizes into a holarchy (a concept is used to understand the nested and interconnected nature of systems in various fields such as biology, ecology, and organizational theory.)</h3>
<ul>
<li>Consistent with physics, chemistry, and structural biology.</li>

</ul>
</li>
<li><h3 id='the-spectrum-of-chaos-is-defined-by-the-chaos-of-nothingness-and-the-chaos-of-totality-in-between-these-two-extremes-there-are-varying-degrees-of-order-and-complexity-the-chaos-of-nothingness-to-order-is-called-low-entropy-chaos-and-the-chaos-from-order-to-disintegration-is-called-high-entropy-chaos-therefore-order-is-the-temporary-and-transitional-state-of-chaos'>The spectrum of chaos is defined by the chaos of nothingness and the chaos of totality. In between these two extremes, there are varying degrees of order and complexity. The chaos of nothingness to order is called low-entropy chaos and the chaos from order to disintegration is called high-entropy chaos. Therefore, order is the temporary and transitional state of chaos.</h3>
<ul>
<li>Consistent with Thermodynamics and Entropy, Statistical Mechanics, Chaos Theory, Complex Systems Theory, Information Theory, Prigogine’s Theory of Dissipative Structures, Cosmology.</li>

</ul>
</li>
<li><h3 id='there-are-three-classes-of-energy-instantiation-for-the-three-contexts-of-matter-transitional-between-matter-and-wave-and-wave-energy-as-particle-matter-energy-as-wave-particle-duality-energy-as-wave-which-we-refer-to-as-conceptual-energy-or-tholonic-energy'>There are three classes of energy instantiation for the three contexts of matter, transitional between matter and wave, and wave: energy as particle (matter), energy as wave-particle duality, energy as wave, which we refer to as conceptual energy or tholonic energy.</h3>
<ul>
<li>Consistent with aspects of Quantum Field Theory&#39;s virtual particles, de Broglie-Bohm pilot-waves, potential energy fields of Classical and Quantum Mechanics, Zero-Point Energy, Holographic Principle.</li>

</ul>
</li>
<li><h3 id='all-holons-with-the-possible-exception-of-the-first-holon-are-considered-partons-to-a-parent-holon'>All holons (with the possible exception of the first holon) are considered partons to a parent holon.</h3>
<ul>
<li>Consistent with the theory of holarchies.</li>

</ul>
</li>

</ul>
<h2 id='definitions'>Definitions</h2>
<ul>
<li><h3 id='awareness-is-defined-as-an-archetype'>Awareness is defined as an archetype.</h3>
<ul>
<li>Consistent with Jungian Psychology, Integral Theory, Panpsychism, Advaita Vedanta, Phenomenology, Process Philosophy, Buddhist Philosophy.</li>

</ul>
</li>
<li><h3 id='consciousness-is-a-contextual-instance-of-awareness-an-expression-of-awareness-within-duality'>Consciousness is a contextual instance of awareness, an expression of awareness within duality.</h3>
<ul>
<li>Consistent with Taoism, Advaita Vedanta, Buddhist Philosophy, Phenomenology, Integral Theory, Process Philosophy, Jungian Psychology.</li>

</ul>
</li>
<li><h3 id='a-neuroid-is-defined-as-any-neurologically-enhanced-device-such-as-ai'>A &quot;neuroid&quot; is defined as any neurologically enhanced device, such as AI.</h3>
</li>

</ul>
</li>

</ul>
  <p>(more to come...)</p>
  </div>
