<!-- INC START vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv book-notice.html -->
<!-- The Footer -->

<p class="book_notice">
Notice! This book in encrypted. You will not be able to read it unless you have the PASSWORD. It is illegal to share
copyrighted material. We encourage supporting creators by purchasing their products. That said, if you are a hardened
criminal who is not ethically challenged by illegally downloading information that only those with disposable income can
pay for (e.g., $219 for notes from a academic conference), or you happen to be one of the 3.4 billion people that live on 
less thah $5.50/day then you can find most books, articles, and just about any written material on the spooky Dark Web's 
[Z-library](https://en.wikipedia.org/wiki/Z-Library) using a Tor browser such as Brave.
</p>
<!-- INC END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ book-notice.html -->
