<!-- INC START vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv _layouts/video_excude_footer.html -->


<p>The original idea, which has kinda fallen apart, is that the color of the border of the videos would represent the
  general subject of the video, like a visual ‘tag’.</p>

<ul>
  <li>RED: synthetically generated data that was somehow related to tholonic concepts.</li>
  <li>YELLOW: Non-material reality experience, insights, anecdotes, etc., that somehow related to tholonic concepts.
  </li>
  <li>GREEN: Supporting evidence, reasoning, or theories that support some tholonic concept.</li>
</ul>

<p>This is not in use anymore, but I have been too distracted to bother to create new thumbnails. </p>

  <!-- INC END vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv _layouts/video_excude_footer.html -->